@model Negocio.Departamento
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Form</h1>

<div class="container-fluid">
    @using (Html.BeginForm("Form", "Departamento", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(Model => Model.IdDepartamento)
        <div class="row">
            <div class="col-3">
                @Html.LabelFor(Model => Model.Nombre)
                @Html.TextBoxFor(Model => Model.Nombre, new { @class = "form-control"})

            </div>


        </div>
        <div class="row pt-3">
            <div class="col">
                @if (Model.IdDepartamento > 0)
                {
                    <input type="submit" value="Actualizar" class="btn btn-info">
                }
                else
                {
                    <input type="submit" value="Guardar" class="btn btn-info">
                }

            </div>
        </div>

    }


</div>

